.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin-bottom: 8px;
  padding: 6px;
  outline: none;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px black;
}

.form-input:disabled {
  background-color: rgb(196, 196, 196);
  cursor: not-allowed;
}

.form-input:focus {
  box-shadow: 0 0 0 1px blue;
}

.form-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-label {
  margin-bottom: 6px;
}
