.header {
  padding: 16px 0;
  background-color: var(--dark-color);
}

.header-menu {
  display: flex;
}

.menu-link,
.auth-btn {
  padding: 8px 16px;
  color: var(--light-color);
}

.menu-link:hover,
.auth-btn:hover {
  color: #ffffff;
}

.auth-btn {
  display: inline-block;
  margin-left: auto;
  cursor: pointer;
  opacity: 1;
  pointer-events: all;
}

.auth-btn.hidden {
  opacity: 0;
  pointer-events: none;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-color);
  padding: 0 16px;
  cursor: pointer;
}

.menu-icon:hover {
  color: #ffffff;
}

.menu-icon a {
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.menu-icon svg {
  fill: inherit;
}
