.header {
  padding: 16px 0;
  background-color: var(--dark-color);
}

.header-menu {
  display: flex;
}

.menu-link,
.auth-btn {
  padding: 8px 16px;
  color: var(--light-color);
}

.menu-link:hover,
.auth-btn:hover {
  color: #ffffff;
}

.auth-btn {
  display: inline-block;
  margin-left: auto;
  cursor: pointer;
}
