.header {
  padding: 16px 0;
  background-color: var(--dark-color);
}

.header-menu {
  display: flex;
}

.menu-link {
  padding: 8px 16px;
  color: var(--light-color);
}

.menu-link:hover {
  color: #ffffff;
}
