.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.space-between {
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1201px) {
  .container {
    max-width: 900px;
    padding: 0 16px;
  }
}
