@import url('_reset.css');
@import url('_utils.css');
@import url('_header.css');
@import url('_footer.css');
@import url('_form.css');
@import url('_core.css');

:root {
  font-family: sans-serif;
  --dark-color: #161618;
  --dark-hover: #212122;
  --light-color: #fffff5db;
}

.modal {
  position: fixed;
  inset: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  position: relative;
  background-color: white;
  max-width: 400px;
  width: 100%;
  border-radius: 6px;
  padding: 16px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.modal-close {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 6px;
  top: 6px;
  background-image: url('../images/icons/cross.svg');
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.category-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.category-item {
  border-radius: 6px;
  height: 200px;
  background-position: center;
  background-size: cover;
}
