@import url('_reset.css');
@import url('_utils.css');
@import url('_header.css');
@import url('_footer.css');
@import url('_form.css');
@import url('_core.css');

:root {
  font-family: sans-serif;
  --dark-color: #161618;
  --light-color: #fffff5db;
}
