@import url('_reset.css');
@import url('_utils.css');
@import url('_header.css');
@import url('_footer.css');
@import url('_form.css');
@import url('_core.css');

:root {
  font-family: sans-serif;
  --dark-color: #161618;
  --dark-hover: #212122;
  --light-color: #fffff5db;
}

.modal {
  position: fixed;
  inset: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  position: relative;
  background-color: white;
  max-width: 400px;
  width: 100%;
  border-radius: 6px;
  padding: 16px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.modal-close {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 6px;
  top: 6px;
  background-image: url('../images/icons/cross.svg');
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.modal-body {
  position: relative;
}

.modal-login,
.modal-register {
  /* position: absolute; */
  transition: 0.1s ease-in-out;
}

.modal-login.open,
.modal-register.open {
  display: block;
}

.modal-login.hide,
.modal-register.hide {
  display: none;
}

.login-btn,
.register-btn {
  color: blue;
  cursor: pointer;
}

.login-btn:hover,
.register-btn:hover {
  color: darkblue;
}

.category-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.category-item {
  border-radius: 6px;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 24px;
}

.question-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.question-item {
  border-radius: 8px;
  border: 1px solid gray;
  overflow: hidden;
}

.question-title {
  font-size: 20px;
  font-weight: bold;
  padding: 16px 24px;
  background-color: #e4e4ff;
  cursor: pointer;
}

.question-answer {
  transition: all 0.3s ease-in-out;
  max-height: 0;
}

.answer {
  padding: 16px 24px;
}

.question-item.open .question-answer {
  max-height: 500px;
}

.products {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 24px;
}

.product-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
}

.product-item {
  border-radius: 8px;
  padding-top: 16px;
  overflow: hidden;
  border: 1px solid black;
}

.product-item__image {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  margin-bottom: 16px;
}

.product-item__info {
  padding: 16px;
  border-top: 1px solid black;
}

.product-name {
  font-size: 24px;
}

.product-description {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 8px;
  min-height: 56px;
}

.product-stock {
  color: red;
  font-size: 20px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
}

.product-fav {
  width: 30px;
  height: 30px;
  background-size: cover;
  cursor: pointer;
}

.product-fav:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.fav-icon {
  width: 30px;
  height: 30px;
}
